[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.3"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = ["shell", "powershell"]
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-apple-darwin", "aarch64-unknown-linux-gnu", "aarch64-pc-windows-msvc", "x86_64-apple-darwin", "x86_64-unknown-linux-gnu", "x86_64-pc-windows-msvc"]
# Whether to pass --all-features to cargo build
all-features = true
# Path that installers should place binaries in
install-path = "CARGO_HOME"
# Whether to install an updater program
install-updater = false
# Which actions to run on pull requests
pr-run-mode = "upload"
# Publish jobs to run in CI
publish-jobs = ["./publish"]

[dist.github-custom-runners]
global = "ubuntu-latest"

# [dist.github-custom-runners.aarch64-unknown-linux-gnu]
# runner = "ubuntu-latest"

[dist.github-custom-runners.aarch64-pc-windows-msvc]
runner = "windows-11-arm"

[dist.github-custom-runners.x86_64-unknown-linux-gnu]
runner = "ubuntu-latest"
container = { image = "quay.io/pypa/manylinux_2_28_x86_64", host = "x86_64-unknown-linux-musl" }

[dist.github-custom-runners.x86_64-pc-windows-msvc]
runner = "windows-latest"


